body {
    background-image: url('homepagefirstimage.jpeg');
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
    display: inline;
}


/*
* Top-Navigation Styling:
*/

.topnav {
    display: grid;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    grid-template-columns: auto 150px minmax(min-content, 700px) 350px auto;
    grid-auto-rows: auto;
    grid-gap: 40px;
    align-items: center;
    text-align: center;
    border-bottom: #000000 1px solid;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 2px 6px rgba(0, 0, 0, 0.23);
}

.topnav-left {
    grid-column: 2;
}

.topnav-search {
    grid-column: 3;
    position: relative;
}

.topnav-right {
    grid-column: 4;
    display: inline-block;
}

.topnav-left p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#logo-l {
    color: white;
}

#logo-r {
    color: white;
}

.topnav-search input[type=text] {
    text-indent: 30px;
    width: 100%;
    padding: 4px 0 3px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #ebebeb;
    color: #444343;
}

.topnav-search .fa-search {
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: 1.0em;
}

.topnav-right button {
    background-color: black;
    border: #ffffff 2px solid;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-size: 1.0em;
    letter-spacing: 1px;
    width: 130px;
}

.topnav-right button:hover {
    background-color: white;
    border: black 2px solid;
    color: black;
}


/**
* Content Area Styling:
*/

.content {
    display: grid;
    grid-template-columns: 1fr 10px minmax(min-content, 800px) min-content 1fr;
    grid-auto-rows: auto;
    grid-gap: 1em;
    margin-top: 50px;
}

.sidemenu {
    grid-column: 2;
    width: 200px;
}

.argument {
    grid-column: 3;
}

.right-area {
    grid-column: 4;
}


/**
* Login Styling:
*/

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: black;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover {
    color: black;
    background-color: white;
    border: black 2px solid;
    transition: background-color 0.2s;
}

p .form-error {
    color: #e54b4b;
    align-items: center;
    text-align: center;
}


/* END CSS*/